


.container{
  width: 60%;
  background: #FFF;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
  margin: 10px auto 10px auto !important;
  min-height: 100vh;
}

.ql-toolbar.ql-snow{
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
  z-index: 1;
  background: #F3F3F3;
  border: none !important;
  background-color: #e6e5e5;
  border-radius: 20px;
  width:75%;
  margin-left: 12%;
  border: 2px solid tan
}
.ql-toolbar.ql-snow:hover{
  background-color: #cfcdcd;
}
.editor{
  /* border: 2px solid green; */
  width: 95%;
}
.side{
  display: flex;
  /* border: 2px solid firebrick; */
}

.panel{
  /* border: 2px solid yellow; */
  width: 5%;
}

.imgg{
  margin-top: 10px;
  display: flex;
  justify-content: center;
  /* border: 2px solid black; */
  align-items: center;
}
.imgg>img{
  margin-top: 10px;
  height: 25px;
  cursor: pointer;
  padding: 20px;
  width: 25px;
}
.quick{
  margin-top: 90px;
  display: flex;
  justify-content: center;
  /* border: 2px solid black; */
  align-items: center;
}
.quick>img{
  height: 19.5px;
  cursor: pointer;
  padding: 20px;
  width: 35px;
}
